
@{
    ViewData["Title"] = "EmailNotConfirmed";
}
<h3>The email does not match. Please try again</h3>

<h4>Please click the link below to go back and start over or use the back arrow to enter in your email again</h4>
<a href="/home/RegistrationForm">Click Here</a>

