@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to V's Coffee Shop</h1>
    <h2> <a href="/home/RegistrationForm">Register</a></h2>

    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/flat-white-3402c4f.jpg?quality=90&resize=500%2C454"/>
</div>

<body style=" background-color: #5F9EA0;">
   

</body>


<style type="text/css">
    .text-center {
       font-family:'Bodoni MT';
    }



       
</style>