
@{
    ViewData["Title"] = "IncorrectPasswordView";
}

<h3>The password does not match. Please try again</h3>

<h4>Please click the link below to go back and start over or use the back arrow to enter in a new password</h4>
<a href="/home/RegistrationForm">Click Here</a>