
@{
    ViewData["Title"] = "RegistrationForm";
}

<h4>Please fill the form to register! </h4>


<div class="form">

    <form action="/home/RegistrationResponse" method="post">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br><br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="phonenumber">Phone Number:</label>
        <input type="tel" id="phonenumber" name="phonenumber" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="radio" name="sex" value="Male"> Male<BR />
        <input type="radio" name="sex" value="Female"> Female<BR />
        <input type="submit" value="Register"> <BR />
        <INPUT type="reset"> <BR />

    </form>
    
</div>

<body style="background-color: #5F9EA0;">


</body>
<style type="text/css">
    .form {
       
        width: 500px;
        clear:both;
    }

        

        .form input {
            width: 100%;
            clear:both;
        
        }
</style>
<!--<form method="post" action="/home/RegistrationResponse">

    First Name: <input type="text" name="firstname" /><br />

    Last Name: <input type="text" name="lastname" /><br />

    Email: <input type="email" name="email" /><br />

    Phone Number: <input type="tel" name="phonenumber" /><br />

    Password: <input type="password" name="password" /><br />

    <input type="Submit" />


</form>-->



