
@{
    ViewData["Title"] = "RegistrationForm";
}

<h3>Please fill the form to register! </h3>


<div class="form">

    <form action="/home/RegistrationResponse" method="post">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="phonenumber">Phone Number:</label>
        <small>Format: 123-456-7890</small>
        <input type="tel" id="phonenumber" name="phonenumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required> <br><br>

        <div>
            <b><h5>Type of Phone Number</h5></b>

            <input type="radio" name="phonetype" value="Mobile"> Mobile <br />
            <input type="radio" name="phonetype" value="Work"> Work <br />
            <input type="radio" name="phonetype" value="Home"> Home <br />


        </div>

        <label for="password">Password (8 characters minimum):</label>
        <input type="password" id="password" name="password" minlength="8" required><br><br>

        <div class="form2">
            

                <input type="submit" value="Register"> <br />
                <input type="reset"> <br />

            

        </div>


    </form>
    

</div>




<body style="background-color: #5F9EA0;">


</body>

<style type="text/css">

    .form2 input {
        background-color: #ffcc66;
    }
    .form {
       
        width: 500px;
        clear:both;
    }

        

        .form input {
            width: 100%;
            clear:both;
        
        }
</style>

<!--<form method="post" action="/home/RegistrationResponse">

    First Name: <input type="text" name="firstname" /><br />

    Last Name: <input type="text" name="lastname" /><br />

    Email: <input type="email" name="email" /><br />

    Phone Number: <input type="tel" name="phonenumber" /><br />

    Password: <input type="password" name="password" /><br />

    <input type="Submit" />


</form>-->



