
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add New Product</h1>

<h1> Which product would you like to add ? </h1>

<form action="/admin/add" method="post">



   

        Name:<input type="text" name="name" /><br />

        Description: <input type="text" name="description" /><br />

        Price:<input type="text" name="price" /><br />


        Category:<input type="text" name="category" /><br />


        <input type="submit" value="Add"/>







 </form>

