@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Menu Items</h1>

<table class="table table-bordered">
    <thead>
        <tr>
         
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Update Product </th>
        </tr>
    </thead>
    <tbody>

        @foreach (Product prod in Model)
        {
            <tr>

              
                <td><a href="/product/detail/@prod.id">@prod.name</a></td>
                <td>@prod.description</td>
                <td>@prod.price</td>
                <td>@prod.category</td>
                <td>

                    
                    <a href="/admin/editform/@prod.id" class="btn btn-primary">Edit</a>
                    <a href="/admin/deleteform/@prod.id" class="btn btn-danger">Delete</a>
                    <br />



                </td>


            </tr>


        }

       <br/><br/>
        <a href="/admin/addform">Add New product</a>


    </tbody>


    <body 
          style=" background-color: #5F9EA0;">


    </body>
